<%= form_tag '/login', method: 'post' do %>
    <div class="login">
        <p><label for="name">用户名</label><input type="text" id="name" name="name"/></p>

        <p><label for="password">密 码</label><input type="text" id="password" name="password"/></p>

        <p><input type="submit" value="登录"></p>
    </div>
<% end %>
