<!DOCTYPE html>
<html>
<head>
    <title>排队领钱</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta name="description" content="排队领钱">
    <meta name="Keywords" content="排队,新年红包,领钱,排队领钱">
</head>
<body>
<%= yield %>
<div style="display: none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan  id='cnzz_stat_icon_5801710'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5801710' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>

</html>
